@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Container for the authentication */
.authentication-container {
    width: 450px;
    height: 361px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

/* Buttons to switch between "Sign In" and "Sign Up" */
.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    flex: 1;
    height: 48px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Active styles */
.btn-active {
    background-color: #e31c25;
}

/* Inactive styles */
.btn-inactive {
    background-color: #BB000E;
}

/* Login and registration form */
.login-form,
.register-form {
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.login-form button,
.register-form button {
    flex: 1;
    justify-items: end;
}

.login-form p,
.register-form p {
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
}

/* Submit button */
.login-button,
.register-button {
    width: 104px;
    height: 34px;
    padding: 10px;
    background-color: #d32f2f;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.3s;
}

.login-button:hover,
.register-button:hover {
    background-color: #b71c1c;
}